.preview-container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.task-container {
    border: 1px solid black;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    color: black;
}

.link{
    cursor: pointer;
}

.link:hover{
    text-decoration: none;
    filter: brightness(85%);
}

.task-info{
    width: 50%;
}

.task-info-tag{
    margin-right: 1rem;
    justify-content: space-around;
}

.task-info-value{
    margin-right: 1rem;
    justify-content: space-around;
}

.task-desc{
    width: 50%;
    justify-content: space-around;
}

.task-desc > span {
    text-align: center;
    margin-bottom: 1rem;
}

.big-task{
    height: 50vh;
    padding: 2rem;
    font-size: 3rem;
}

.title-top{
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.help1{
    margin-top: 2rem;
}
.help1 > p{
    font-size: 2rem;
    margin: 0;
    color: blue;
}

.help2{
    margin-top: 2rem;
}
